#after-nav-col-2 {
    width: 80%;
  }
  
  .row {
    border-bottom: 1px solid #c6c6c6;
    padding: 4px;
    box-shadow: rgba(72, 0, 255, 0.2) 0px 7px 29px 0px;
  
    transition: transform 0.5s;
  }
  .row h2 {
    color: rgb(221, 221, 221);
    margin-left: 10px;
  }
  table {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .row:hover {
    transform: translateY(-10px);
  }
  
  a {
    text-decoration: none;
  }
  
  .side-part {
    background-color: rgb(255, 255, 255);
    /* Full height */
    /* height: 100vh; */
    max-height: 200000000px;
    min-height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
  }
  
  #title {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
  }
  table {
    border: 2px solid rgba(52, 91, 111);
    width: 60%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
    border-radius: 5px;
  }
  tr {
    border: 2px solid white;
  }
  td,
  th {
    padding: 1%;
  }
  
  #teacher {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #teacher td,
  #teacher th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #teacher tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #teacher tr:hover {
    background-color: #ddd;
  }
  
  #teacher th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(52, 91, 111);
    color: white;
    padding: 18px;
  }
  
  #hamburger,
  #hamBtn {
    display: none;
  }
  
  #logo {
    width: 75px;
    height: 40px;
    border-radius: 22px;
  }
  
  #nav {
    display: flex;
    justify-content: space-between;
    /* background-color: #dedede; */
    border: 0px solid black;
    width: 90%;
    margin: auto;
    padding: 13px;
  }
  #nav > div:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }
  body {
    /* width: 90%; */
    border: 0px solid red;
    margin: auto;
    font-family: sans-serif;
  }
  #navbtnDiv {
    border: 0px solid red;
    width: 40%;
    color: white;
  }
  #navbtnDiv a {
    border: 0px solid green;
    color: white;
    text-decoration: none;
  }
  /* #navbtnDiv>a{
  border:1px solid green;
  display:inline-block;
  } */
  #navBtn {
    width: 80%;
    color: white;
    border: 1px solid rgb(4, 0, 255);
    /* height: 50px; */
  
    border-radius: 7px;
    background-color: #f39c12;
    border: 0px solid green;
    color: white;
    font-size: 14px;
    line-height: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
  }
  
  #footerMain {
    margin-top: -20%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    background-color: #345b6f;
    border: 0px solid black;
    color: white;
  }
  #footerMain > div {
    border: 0px solid red;
    text-align: center;
  }
  
  #FooterLogo {
    width: 100%;
  }
  #footerMain > div:nth-child(1) {
    border: 0px solid blue;
  }
  
  #footerMain > div:nth-child(1) div:nth-child(1) {
    border: 0px solid green;
  }
  #icons {
    padding: 7px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3px;
  }
  #icons img {
    width: 80%;
  }
  .logoutBtn {
    width: 80%;
    color: white;
    border: 1px solid rgb(4, 0, 255);
    /* height: 50px; */
  
    border-radius: 7px;
    background-color: red;
    border: 0px solid green;
    color: white;
    font-size: 14px;
    line-height: 18px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: bold;
  }
  