*{
    margin: 0px;
    padding: 0px;
   
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika', sans-serif;
}
.nav{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    background-color: #FBE9E7;
    position: fixed;
    width: 100%;
    z-index: 1;
    
}
.onscrollnav{
    /* background-color: rgb(229, 215, 215); */
    background-color: white;
}
.title{
    /* border: 1px solid red; */
    width: 200px;
    margin-left: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    color: rgb(233, 108, 129);
}
.title img{
    width: 30%;
    margin-right: 10px;
}
.title h1{
    /* border: 1px solid; */
    padding-top: 10px;
}
.logindiv{
    display: flex; 
    /* border: 1px solid; */
}
.account{
 display: flex;
 width: 90px;
 justify-content: space-around;
 margin-right: 30px;
 margin-top: 10px;
 /* border: 1px solid rgb(115, 13, 13); */
}
.accountIflogin{
    border-radius: 20px;
    background-color: white;
}
.accountpopup{
    border: 1px solid;
    width: 10px;
}
.accountdropdown{
    /* border: 1px solid; */
    background-color: white;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top:80px;
    right: 1%;
}
.accountdropdown>div{
  /* border: 1px solid; */
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
.accountdropdown>div:last-child{
    color: red;
}
.accountdropdown>div:hover{
    background-color: rgb(201, 207, 212);
}
.hamberger{
    /* border: 1px solid; */
    padding-top: 8px;
    display: none;

}
.hambergerIflogin{
    display: block;
}
.hamberger div{
    height: 3px;
    background-color: blueviolet;
    width:25px;
    margin-top: 5px;
    border-radius: 5px;
}
.userdisplay{
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 50%;
    display: none;
    text-align: center;
    margin-top: 4px;
    /* border: 1px solid; */
}
.userdisplayIflogin{
    display:block;
}
.firstletter{
    color: rgb(119, 115, 115);
    margin-top: 5px;
}
.loginbutton{
    border: 1px solid;
    position: relative;
    width: 100px;
    border-radius: 20px ;
    font-weight: bold;
    background-color: white;
    border: 0px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    /* display: none; */
}
.loginbuttonIflogin{
    display: none;
}

.loginbutton:hover{
    background-color: pink;
}
.tutorlogin{
    background-color:white;
    margin-top: 10px;
    height: 40px;
    margin-right: 30px;
    font-weight: bold;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.tutorloginIflogin{
    display: none;
}
.loginbuttononscroll{
    background-color:rgb(217, 208, 208);
}
.tutorlogin:hover{
    background-color: pink;
}
.div1{
    /* border: 1px solid; */
    display: flex;
    height:115vh;
    background-color: #FBE9E7
}
.div1-child1{
    width: 50%;
    /* border: 1px solid red; */
}
.div1-heading{
    margin-left:25%;
    margin-top: 250px;
    font-size: 28px;
}
.div1-subheading{
    margin-left:25%;
    margin-top:10px;
    font-size: 15px;
}
.div1-subheading span{
    color: red;
}
.div1-form{
    display: flex;
    /* border: 1px solid; */
    max-width: 500px;
    height:60px;
    margin-left: 25%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
}
.div1-form button{
    background-color: rgb(244, 97, 97);
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    border: 0px;
}

.subject-selection{
    display: flex;
    /* border: 1px solid; */
    width: 300px;
}
.subject-selection h4{
    /* border: 1px solid; */
    /* width: 300px; */
     margin-top: 20px;
     padding-left: 25px;
}

.div1-child2{
    width: 50%;
    /* border: 1px solid red; */
}
.subject-dropdown{
    /* border: 1px solid; */
    width: 230px;
    height: 400px;
    border-radius: 15px;
    margin-left: 30%;
    background-color: white;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
}
.subject-dropdown-visible{
    display: block;
}

.div1-child2>div{
 width: 200px;
 height: 250px;
 /* border: 1px solid; */
 border-radius: 10px;
}
#tutorimg1{
    /* border: 1px solid red; */
    position:absolute;
     top: 150px;
     left: 65%;
     rotate: 20deg;
}
#tutorimg1 img{
    height: 100%;
}
#tutorimg2{
    /* border: 1px solid red; */
    position:absolute;
     top: 400px;
     left: 60%;
     rotate: -20deg;
}
#tutorimg3{
    /* border: 1px solid red; */
    position:absolute;
     top:320px;
     left: 78%;
     
}

.div1-child2 img{
  width: 100%;
  border-radius: 10px;
}
.div1-child2 .tutor-detail{
    /* border: 1px solid; */
    width: 100px;
    height:65px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: rgba(217, 217, 222, 0.2) 0px 7px 29px 0px;
    
}
.tutor-detail p{
    font-weight: bold;
    font-size: 11px;
}
.tutor-detail span{
    color: grey;
}
#tutor-detail1{
    position:absolute;
     top: 330px;
     left: 60%;
     rotate: 0deg;
}
#tutor-detail2{
    position:absolute;
     top: 600px;
     left: 68%;
     rotate: 0deg;
}
#tutor-detail3{
    position:absolute;
     top: 550px;
     left: 83%;
     rotate: 0deg;
}
.tutor-rating{
    display: flex;
}
.div2{
    display: flex;
    background-color:  #FBE9E7;
    background-image: linear-gradient( #FBE9E7,white);
}
.div2-child1{
    width: 40%;
}
.div2-heading{
    /* border: 1px solid; */
    margin-top: 110px;
    margin-left: 25%;
    font-size: larger;
}
.div2-subheading{
    /* border: 1px solid; */
    margin-left: 25%;
    margin-top: 10px;
    font-size: larger;
}
.div2-subheading span{
    color: red;
}
.div2-button{
    margin-left: 25%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(218, 104, 104);
    color: white;
    font-weight: bolder;
    font-size: larger;
    border: 0px;
    box-shadow: rgba(24, 23, 23, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.div2-child2{
 
    width: 60%;
}
.div2-child2>div{
    display: grid;
     grid-template-columns: repeat(2,1fr);
     /* border: 1px solid; */
     padding-left: 30px;
     width: 80%;
     margin: auto;
     max-height: 90vh;
     overflow-y: scroll;
     rotate: -10deg;  
}
.div2-child2>div::-webkit-scrollbar{
  display: none;
}
.div2-child2>div>div{
    /* border: 1px solid; */
    width: 70%;
    /* rotate: -20deg; */
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
.div2-child2-img{
    width: 40px;
    border-radius: 50px;
    height: 40px;
    /* border: 1px solid; */
}
.div2-child2-img img{
  width: 90%;
  border-radius: 50%;
}
.div3{
    padding-top: 120px;
    background-color: white;
    /* border: 1px solid; */
}
.div3>div{
    /* border: 1px solid; */
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    
    
}
.div3-child1{
    /* border: 1px solid; */
    width:450px;
    /* margin-left: 10%; */
}
.div3-child1 img{
    width: 100%;
    border-radius: 15px;
}
.div3-child2{
    margin-top:60px;
    /* border: 1px solid; */
}
.div3-child2 p{
    color: grey;
    font-weight: bold;
    margin-top: 10px;
}
.div4{
    background-color: white;
    padding-bottom: 50px;
}
.div4>div{
    /* border: 1px solid; */
   display: flex;
   width:60%;
   margin: auto;
   margin-top: 100px;
   justify-content: space-between;
   background-image: linear-gradient(to right, rgb(9, 9, 9) ,rgb(46, 46, 46));
   padding-left: 20px;
   border-radius: 20px;
}
.div4-img{
    /* border: 1px solid; */
    width: 50%;  
}
.div4-img img{
    width: 100%;
    border-radius: 20px;
}
.div4-content-h1{
   color: white;
   margin-top: 100px;
}
.div4-content-p{
    margin-top: 10px;
    color: white;
 }
 .div4-content-button{
    color: white;
    background-color: rgb(199, 78, 78);
    padding: 5px;
    margin-top: 10px;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
 }
 
 /* footer     .................. */
 footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
 }
 #footer{
    padding-top: 20px;
    margin-top:20px;
    background-color: rgb(223, 226, 228);
    /* border: 1px solid; */
    width: 70%;
    margin: auto;
    color: white;
    background-color: black;
    border-bottom: 1px solid rgb(238, 237, 233);
    padding-bottom: 10px;
   }
   #footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
   }
   #footer-one b{
    font-size: 18px;
   }
    #footer-one{
        display: flex;
        width: 100%;
        justify-content: space-around;
        
    }
    #footer-two-one{
        /* border: 1px solid; */
       width:20%;
       display: flex;
       height: 40px;
       justify-content: space-around;
       margin-left: 7%;
       margin-top: 20px;
    }
   
    #footer-two-one img{
        width:50%;
        /* border: 1px solid; */
        border-radius: 50%;
        background-color: aliceblue;
    }
    #footer-two-two {
        width: 10%;
        height: 40px;
      /* border: 1px solid; */
      margin-left: 7%;
      margin-top: 20px;
    }
    #footer-two-two img{
        width: 100%;
        height: 40px;
    }


      