*{
  font-family:sans-serif;
}

/* nav............................................................................. */

/* nav............................................................................. */

.nav{
  /* border: 1px solid black; */
  background-color: #FBE9E7;
  display: flex;
  justify-content: left;
  padding: 0px 20px;

  /* z-index: 1; */
  
}
.nav > a {
  /* border: 1px solid red; */
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > a > img{
  height: 70px;
  
}


/* nav.............................................. */


/* nav.............................................. */

#main {
  margin-bottom: 50px;
}

#profile {
  /* background-color: rgb(213, 213, 213); */
  background-color: whitesmoke;
  border-radius: 10px;
  padding-top: 1%;
  padding: 20px;
  height: 400px;
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-top: 50px;
}
#left {
  text-align: center;
}
.name {
  color: lightslategray;
  /* font-family: "Baloo 2", cursive; */
}
.image {
  border-radius: 10px;
  width: 100%;
  height: 70%;
}
.rating {
  color: #f39c12;
}
#right {
  height: 100%;
  color: rgb(66, 66, 66);
  margin-top: 3%;
  /* font-family: Arial, sans-serif; */
}
.city {
  margin-bottom: 40px;
}
#btndiv {
  height: 10%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
#bookbtn {
  font-size: 120%;
  width: 70%;
  border: none;
  color: black;
  background-color: #FBE9E7;
  /* font-family: "Baloo 2", cursive; */
  border-radius: 5px;
}

#bookbtn:hover {
  background-color: lightgrey;
  cursor: pointer;
}
#about > h2 {
  color: lightslategray;
  /* font-family: "Baloo 2", cursive; */
  margin-bottom: 30px;
}
#about {
  margin: auto;
  width: 70%;
  margin-bottom: 50px;
}
.about {
  /* font-family: Arial, sans-serif; */
}
#about-h3 {
  margin: auto;
  width: 90%;
}
#p-div {
  margin: auto;
  width: 90%;
}
.p1 {
  font-size: 20px;
}

#hourly-rate > h2 {
  color: lightslategray;
  /* font-family: "Baloo 2", cursive; */
  margin-bottom: 30px;
}
#hourly-rate {
  margin: auto;
  width: 70%;
  margin-bottom: 40px;
}
#price {
  margin-left: 5%;
}
#aval {
  margin: auto;
  width: 70%;
  margin-bottom: 50px;
}
#aval > h2 {
  color: lightslategray;
  /* font-family: "Baloo 2", cursive; */
  margin-bottom: 30px;
}
.aval-h3 {
  margin-left: 5%;
}

#submit {
  height: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}
#sub-btn {
  font-size: 120%;
  width: 20%;
  border: none;
  color: rgb(44, 44, 44);
  background-color: #FBE9E7;
  /* font-family: "Baloo 2", cursive; */
  border-radius: 5px;
}

#sub-btn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

@media all and (min-width: 100px) and (max-width: 800px) {
  #profile {
    flex-direction: column;
    height: 1100px;
    text-align: center;
  }
  #sub-btn {
    width: 30%;
  }
}

/* --------------------navbar----------------- */
#navBtn:hover {
  filter: brightness(110%);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#hamburger,
#hamBtn {
  display: none;
}

#logo {
  width: 75px;
  height: 40px;
  border-radius: 22px;
}

#nav {
  display: flex;
  justify-content: space-between;
  /* background-color: #dedede; */
  border: 0px solid black;
  width: 90%;
  margin: auto;
  padding: 13px;
}
#nav > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
body {
  /* width: 90%; */
  border: 0px solid red;
  margin: auto;
  /* font-family: sans-serif; */
}
#navbtnDiv {
  border: 0px solid red;
  width: 40%;
  color: white;
}
#navbtnDiv a {
  border: 0px solid green;
  color: white;
  text-decoration: none;
}
/* #navbtnDiv>a{
border:1px solid green;
display:inline-block;
} */
#navBtn {
  width: 80%;
  color: white;
  border: 1px solid rgb(4, 0, 255);
  /* height: 50px; */

  border-radius: 7px;
  background-color: #f39c12;
  border: 0px solid green;
  color: white;
  font-size: 14px;
  line-height: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
}

@media all and (min-width: 320px) and (max-width: 780px) {
  #nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  #nav > div:nth-child(2) {
    display: none;
  }
  #hamburger {
    display: block;
  }
  #hamburger:hover #hamBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  #hamBtn button {
    width: 100%;
  }
  #footerMain {
    display: flex;
    flex-direction: column;
  }
  #footerImg img {
    width: 70%;
  }
}

@media all and (min-width: 780px) and (max-width: 1500px) {
  #nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  #nav > div:nth-child(2) {
    display: none;
  }
  #hamburger {
    display: block;
  }
  #hamburger:hover #hamBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  #hamBtn button {
    width: 100%;
  }
  #footerMain {
    display: flex;
    flex-direction: column;
  }
  #footerImg img {
    width: 70%;
  }
}

/* -------------------------footer--------------- */

footer{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}
#footer{
  padding-top: 20px;
  margin-top:20px;
  background-color: rgb(223, 226, 228);
  /* border: 1px solid; */
  width: 70%;
  margin: auto;
  color: white;
  background-color: black;
  border-bottom: 1px solid rgb(238, 237, 233);
  padding-bottom: 10px;
 }
 #footer p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
 }
 #footer-one b{
  font-size: 18px;
 }
  #footer-one{
      display: flex;
      width: 100%;
      justify-content: space-around;
      
  }
  #footer-two-one{
      /* border: 1px solid; */
     width:20%;
     display: flex;
     height: 40px;
     justify-content: space-around;
     margin-left: 7%;
     margin-top: 20px;
  }
  #footer-two-one div{
       /* border: 1px solid; */
  }
  #footer-two-one img{
      width:50%;
      /* border: 1px solid; */
      border-radius: 50%;
      background-color: aliceblue;
  }
  #footer-two-two {
      width: 10%;
      height: 40px;
    /* border: 1px solid; */
    margin-left: 7%;
    margin-top: 20px;
  }
  #footer-two-two img{
      width: 100%;
      height: 40px;
  }