#after-nav{
    display:flex;
    height: 100vh;

}

#after-nav-col-1{
    width:20%;
        
    background-color:rgb(52,91,111);
    
    height:100%;
    color: rgb(242, 225, 225);
}

#after-nav-col-2{
    width:80%;
   
}

.row{
    border-bottom: 1px solid #c6c6c6;
    padding:4px;
    box-shadow: rgba(72, 0, 255, 0.2) 0px 7px 29px 0px;
    
   transition:  transform 0.5s
}
.row h2{
    color: rgb(221, 221, 221);
    margin-left: 10px;
}
table{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.row:hover{
    transform:translateY(-10px);
    
  }

a{
    text-decoration: none;
}


.side-part{
    
   
  background-color: rgb(255, 255, 255);
    /* Full height */
    /* height: 100vh; */
    max-height: 200000000px;
    min-height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    
}





#title{
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}
table{
    border:2px solid rgba(52,91,111);
    width:60%;
    margin-top: 5%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom: 15%;
    border-radius: 5px;
    
}
tr{
    border: 2px solid white;
    
}
td,th{
    padding: 1%;
}



#teacher {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    
  }
  
  #teacher td, #teacher th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #teacher tr:nth-child(even){background-color: #f2f2f2;}
  
  #teacher tr:hover {background-color: #ddd;}
  
  #teacher th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: rgba(52,91,111);
    color: white;
    padding: 18px;
}


#search{
    margin:25px
}

#searchp{
    border-radius: 5px;
    padding:5px
}

#select{
    margin:25px
}
#myselect{
    border-radius: 5px;
    padding:5px
}

form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    padding: 20px;
    background-color: rgb(52,91,111);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .l {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
  }
  
  .in,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 60%;
    font-size: 1rem;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: rgb(79, 79, 196);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #666;
  }
  

  #add-teacher{
    width:60%;
    margin:auto
  }

  #srch{
    color:black
  }
  
#hamburger,#hamBtn{
  display:none;
}

#logo {
 
width: 75px;
height: 40px;
border-radius: 22px;
}

#nav {
display: flex;
justify-content: space-between;
/* background-color: #dedede; */
border: 0px solid black;
width: 100%;
margin: auto;
padding: 13px;
background-color: rgb(52,91,111);
}
#nav>div:nth-child(2){
  display: flex;
  justify-content: space-evenly;
  gap:20px;
}
body {
/* width: 90%; */
border: 0px solid red;
margin: auto;
font-family: sans-serif;
}
#navbtnDiv {
  border:0px solid red;
  width:40%;
color:white;
}
#navbtnDiv a{
  border:0px solid green;
  color:white;
  text-decoration: none;
}
/* #navbtnDiv>a{
border:1px solid green;
display:inline-block;
} */
#navBtn {
width: 80%;
color:white;
border:1px solid rgb(4, 0, 255);
/* height: 50px; */

border-radius: 7px;
background-color: #f39c12 ;
border: 0px solid green;
color: white;
font-size: 14px;
line-height: 18px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
font-weight: bold;
}

#after-nav-col-2{
  margin-top:1%
}